.chat-main
  .chat-main__groups
    .wrapper-second
      .wrapper-sub
        .groups-name
          = @group.name
        .user-name 
          Members
          - @group.users.each do |user|
            = user.name
      .wrapper-sub__second
        .groups-edit  
          = link_to edit_group_path(@group.id) do
            Edit
       

  .messages
    = render @messages    





  .chat-main__form
    .wrapper-fourth
      = form_for [@group, @message] do |f|
        .aaa
        = f.text_field :content, class: 'form__message', placeholder: '  type a message'        
        .wrapper-fifth   
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', id: 'image-icon')
            = f.file_field :image, class: 'select-file' 
        .new-wrapper       
          = f.submit 'Send', class: 'send-btn'
